body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.modal-props {
  margin:0 auto;
  max-width:150px;
  text-align: center;
}

.group-badge-styles {
  background-color: #EBECF0;
  border-radius: 2em;
  color: #172B4D;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  min-width: 1px;
  padding: 0.16666666666667em 0.5em;
  text-align: center;
}

.modal-form {
  margin: 0 auto;
  max-width: 500px;
}
.modal-form input {
  width: 100%;
}

.group-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  color: #3f51b5;
  text-decoration: none;
  margin: 32px;
}

.organization-repositories {
  margin:0 auto;
  max-width:150px;
  text-align: center;
}

.filter-panel {
  margin:0 auto;
  max-width:300px;
  text-align: center;
}

.user-info {
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
}

.current-user {
  flex-basis:100%;
  text-align:center;
}

.form-group button {
  background: white;
  border: 2px solid lightblue;
  border-radius: 6px;
  margin: 10px 10px 0 0;
}

.navbar a{
  margin: 0 10px;
  color: black;
  font-size: 18px;
  text-decoration: unset;
}
